In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
os.chdir('../data')

In [18]:
df = pd.read_csv('titanic_data.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df[['Survived', 'Sex']].groupby('Sex').mean()

        Survived
Sex
female  0.742038
male    0.188908

In [5]:
def Age_Bins(age):
    if age >= 0 and age < 5:
        return "0-5"
    elif age >= 5 and age < 10:
        return "05-10"
    elif age >= 10 and age < 15:
        return "10-15"
    elif age >= 15 and age < 20:
        return "15-20"
    elif age >= 20 and age < 25:
        return "20-25"
    elif age >= 25 and age < 30:
        return "25-30"
    elif age >= 30 and age < 35:
        return "30-35"
    elif age >= 35 and age < 40:
        return "35-40"
    elif age >= 40 and age < 45:
        return "40-45"
    else:
        return "45+"

In [22]:
df['Age_Binned'] = df['Age'].apply(Age_Bins)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_Binned
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,20-25
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,35-40
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,25-30
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,35-40
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,35-40

In [7]:
df[['Survived', 'Age_Binned']].groupby('Age_Binned').mean()

            Survived
Age_Binned
0-5         0.675000
05-10       0.500000
10-15       0.437500
15-20       0.395349
20-25       0.342105
25-30       0.358491
30-35       0.421053
35-40       0.458333
40-45       0.375000
45+         0.325342

In [8]:
df[['Survived', 'Age_Binned', 'Sex']].groupby(['Age_Binned', 'Sex']).mean()

                   Survived
Age_Binned Sex
0-5        female  0.705882
           male    0.652174
05-10      female  0.538462
           male    0.444444
10-15      female  0.555556
           male    0.285714
15-20      female  0.805556
           male    0.100000
20-25      female  0.761905
           male    0.097222
25-30      female  0.666667
           male    0.236842
30-35      female  0.818182
           male    0.209677
35-40      female  0.851852
           male    0.222222
40-45      female  0.722222
           male    0.166667
45+        female  0.730337
           male    0.147783

In [10]:
from sklearn.naive_bayes import GaussianNB

In [21]:
df.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [57]:
X = df.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Age_Binned', 'Cabin', 'Embarked', 'Fare', 'Age'], axis=1)
y = df['Survived']

def numberSex(x):
    if x == 'male':
        return 1
    else:
        return 0
    
X['SexNumber'] = X['Sex'].apply(numberSex)
X.drop('Sex', axis=1, inplace=True)

In [58]:
from sklearn.cross_validation import train_test_split

In [59]:
X1, X2, y1, y2 = train_test_split(X, y)

In [60]:
model = GaussianNB()

In [61]:
model.fit(X1, y1)

GaussianNB(priors=None)

In [63]:
y_model = model.predict(X2)

In [64]:
from sklearn.metrics import accuracy_score

In [65]:
accuracy_score(y2, y_model)

0.726457399103139

In [66]:
from sklearn.model_selection import cross_val_score

In [67]:
cross_val_score(model, X, y, cv=5)

array([ 0.73184358,  0.73743017,  0.78089888,  0.78089888,  0.79661017])

In [68]:
X.head()

   Pclass  SibSp  Parch  SexNumber
0       3      1      0          1
1       1      1      0          0
2       3      0      0          0
3       1      1      0          0
4       3      0      0          1