In [92]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [35]:
os.chdir('../data_transformed')

In [63]:
df = pd.read_csv('titanic_data.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_Binned
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S,25-30
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S,15-20
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S,45+
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C,25-30
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q,30-35

In [64]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [91]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [66]:
le = preprocessing.LabelEncoder()
le.fit(df['Embarked'])
df['EmbarkedEncoded'] = le.transform(df['Embarked'])
le.fit(df['Sex'])
df['SexEncoded'] = le.transform(df['Sex'])
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_Binned,EmbarkedEncoded,SexEncoded
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,20-25,3,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,35-40,1,0

In [76]:
df1 = df.drop(['Age_Binned', 'Cabin', 'Ticket', 'Name', 'PassengerId', 'Embarked', 'Sex'], axis=1)
df1.dropna(inplace=True)
X = df1.drop('Survived', axis=1)
y = df1['Survived']

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [78]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 571 entries, 546 to 89
Data columns (total 7 columns):
Pclass             571 non-null int64
Age                571 non-null float64
SibSp              571 non-null int64
Parch              571 non-null int64
Fare               571 non-null float64
EmbarkedEncoded    571 non-null int32
SexEncoded         571 non-null int32
dtypes: float64(2), int32(2), int64(3)
memory usage: 31.2 KB

In [126]:
tree = DecisionTreeClassifier(max_depth=3).fit(X=X_train, y=y_train)

In [127]:
y_model = tree.predict(X_test)

In [128]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_model)

0.76923076923076927

In [129]:
tree.feature_importances_

array([ 0.14377929,  0.07185933,  0.06544441,  0.        ,  0.09512105,
        0.        ,  0.62379593])

In [130]:
def visualize_tree(tree, feature_names):
    """Create tree png using graphviz.

    Args
    ----
    tree -- scikit-learn DecsisionTree.
    feature_names -- list of feature names.
    """
    with open("dt.dot", 'w') as f:
        export_graphviz(tree, out_file=f,
                        feature_names=feature_names)

    command = ["dot", "-Tpng", "dt.dot", "-o", "dt.png"]
    try:
        subprocess.check_call(command)
    except:
        exit("Could not run dot, ie graphviz, to "
             "produce visualization")

In [131]:
visualize_tree(tree, X.columns)

In [95]:
X.columns

Index([u'Pclass', u'Age', u'SibSp', u'Parch', u'Fare', u'EmbarkedEncoded',
       u'SexEncoded'],
      dtype='object')